<!DOCTYPE html>
<html>
  <head>
    <title>Cars Database App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/cars/create" method="post">
      Name: <input type="text" name="Name" id=""><br/>
      Consupmtion: <input type="text" name="Miles_per_Gallon" id=""><br/>
      Number of cylinders: <input type="text" name="Cylinders" id=""><br/>
      Displacement <input type="text" name="Displacement" id=""><br/>
      Horsepower <input type="text" name="Horsepower" id=""><br/>
      Weight <input type="text" name="Weight_in_lbs" id=""><br/>
      Acceleration <input type="text" name="Acceleration" id=""><br/>
      Year <input type="text" name="Year" id=""><br/>
      Origin <input type="text" name="Origin" id=""><br/>
      <hr>
      <button type="submit">Create</button>
    </form>
  </body>
</html>